* {
    box-sizing: border-box;
}

.ludo-container {
    width: 450px;
    margin: 20px auto;
}

.ludo-container .ludo {

    height: 450px;
    width: 100%;
    /* Ensure ludo-bg.jpg is in the same directory as style.css, which is 'ludo/' */
    background-image: url('./ludo-bg.jpg'); 
    background-size: contain;
    position: relative;
}

.player-pieces {
    height: 100%;
    width: 100%;
}

.player-piece {
    width: 3%;
    height: 3%;
    border: 2px solid;
    border-radius: 10px;
    position: absolute;
    transform: translate(50%, 50%);
    transition: all .2s;

    z-index: 1;

    /* top: 15%;
    left: 50%; */
}
.player-piece.highlight {
    cursor: pointer;
    border: 2px dashed;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {
        transform: translate(50%, 50%) rotate(0deg);
    }
    50% {
        transform: translate(50%, 50%) rotate(180deg) scale(1.4);
    }
    100% {
        transform: translate(50%, 50%) rotate(360deg);
    }
}

[player-id="P1"].player-piece {
    background-color: #2eafff; /* Red/Blue */
}

[player-id="P3"].player-piece {
    background-color: #00b550; /* Green */
}

/* NEW: P3 (Yellow/Orange) */
[player-id="P2"].player-piece {
    background-color: #ffc900; 
}

/* NEW: P4 (Blue/Purple) */
[player-id="P4"].player-piece {
    background-color: #e70a0a; 
}


.player-base {
    width: 40%;
    height: 40%;
    border: 30px solid;
    position: absolute;
}

.player-bases [player-id="P1"].player-base {
    bottom: 0;
    left: 0;
    border-color: #1295e7; /* Red/Blue Base */
}

.player-bases [player-id="P2"].player-base {
    top: 0;
    right: 0;
    border-color: #049645; /* Green Base */
}

/* NEW: P3 base in Top Left */
.player-bases [player-id="P3"].player-base {
    top: 0;
    left: 0;
    border-color: #e7a712; /* Yellow Base */
}

/* NEW: P4 base in Bottom Right */
.player-bases [player-id="P4"].player-base {
    bottom: 0;
    right: 0;
    border-color: #e70a0a; /* Blue/Purple Base */
}


.player-base.highlight {
    animation: border-blink .7s infinite ease-in-out;
}

@keyframes border-blink {
    50% {
        border-color: rgba(255, 255, 255, 0.8);
    }
}

.btn {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn:disabled {
    opacity: 0.5;
}

.btn-dice {
    background-color: #009d60;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.dice-value {
    font-size: 24px;
    font-weight: bold;
}

/* NEW: Style for the player selector */
.player-select {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}